$regular: "averta_regular";
$semibold: "averta_semibold";
$extrabold: "Gotham-Medium";

$primary-color: #BA884D;
$second-color: #EEC184;
$text-color: #4B4946;

$cinza: #616161;
$cinza-esc: #252525;
$vermelho: #961821;

$azul: #00adf1;
$magenta: #ef018d;
$amarelo: #fef102;
$preto: #000;